@media (max-width: 767px) {
  /* ------ mobile nav bar ----- */
  .mobile-navbar {
    display: block;
    border-radius: 20px 0 0 20px;
    position: fixed;
    height: 100vh;
    top: 6%;
    right: 0%;
    width: 60%;
    background: linear-gradient(300deg, rgba(24, 133, 206, 0.97), #83bde4);
    z-index: 3;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }
  .mobile-navbar.hidden {
    transform: translateX(200vw);
  }

  .nav-overlay {
    position: fixed;
    top: 6%;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    transform: translateX(200vw);
  }
  .nav-overlay.open {
    display: block;
    transition: transform 0.6s ease-in-out;
    transform: translateX(0);
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      li {
        padding: 10px;
        border-radius: 20px;
        margin: 50px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.973);
      }
    }
  }
  .main-view {
    height: 80vh;
    justify-content: center;
    .big-heading {
      font-size: 1.2rem;
      font-family: "Times New Roman", Times, serif;
    }
    .header-text {
      padding: 10px;
      font-size: 1.4rem;
      span {
        display: none;
      }
    }
  }
  .nav {
    display: none;
  }
  .nav-bar {
    padding: 0 10px;
    .logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      div {
        display: block;
      }
    }
  }
  .image-page {
    flex-direction: column;
    .sec-image {
      img {
        width: 100%;
      }
      h2 {
        top: 50%;
        right: 30%;
      }
      .img2 {
        width: 350px;
      }
    }
  }
  .about {
    .about-h1 {
      width: 100%;
      font-size: 1.5rem;
    }
  }
  .expirence-section {
    .sec-content {
      max-width: 300px;
      h3 {
        font-size: 1.3rem;
      }
    }
    .skills-h1 {
      width: 80%;
      font-size: 1.5rem;
    }
  }
  .content {
    grid-template-columns: repeat(1, 2fr);
    gap: 5px;
  }
  .portfolio-contact {
    h1 {
      font-size: 1.5rem;
    }
    .contact-grid {
      grid-template-columns: repeat(1, 6fr);
    }
  }
  /* <-------- Resume screen ------> */
  .resume-view {
    height: 90vh;
    .introduction {
      height: 80%;
      .profile-pic img {
        width: 150px;
        border-radius: 50%;
      }
    }
    .qoute {
      max-width: 300px;
      bottom: 5%;
      left: 30px;
    }
    .page-name {
      padding: 10px;
      font-size: 1rem;
    }
  }
  .career {
    .career-summary {
      grid-template-columns: repeat(1, 2fr);
    }
  }

  .profession-wrap {
    grid-template-columns: repeat(1, 2fr);
  }
  .contact-info {
    width: 100%;
  }
  .contact form textarea {
    width: 70%;
  }
  .showcasing {
    grid-template-columns: repeat(1, 6fr);
  }
  .image-carousel {
    img {
      width: 250px;
    }
  }
  .slide-hide {
    display: none;
  }
  .testimony {
    display: block;
  }
  .testimony-image img {
    display: none;
  }
  .testimony p {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-page {
    .sec-image.hide {
      display: none;
    }
    .img2 {
      width: 800px;
    }
  }
  .expirence-section {
    .skills-h1 {
      width: 50%;
    }
    .content {
      display: block;
    }
  }
  .about {
    .about-h1 {
      width: 50%;
    }
  }
  .showcasing {
    grid-template-columns: repeat(1, 6fr);
  }
  .resume-view {
    height: 70vh;
    .introduction {
      height: 80%;
      .profile-pic img {
        width: 250px;
        border-radius: 20px;
      }
    }
  }
  .main-view {
    height: 70vh;
    justify-content: center;
    .big-heading {
      font-size: 2rem;
    }
  }
  .testimony {
    display: block;
  }
  .testimony-image img {
    display: none;
  }
  .testimony p {
    margin: 0;
    padding: 0;
  }
}
