.main-view {
  background: url("/public/pexels-daan-stevens-66128-939331.jpg") center
    center/cover no-repeat;
  position: relative;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow-x: hidden;
  .big-heading {
    white-space: nowrap;
    transform: translateX(1600px);
    transition: transform 5s ease;
  }
  .big-heading.active {
    padding-left: 10px;
    transform: translateX(0px);
  }
  .highlight {
    width: 100%;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 3rem;
    align-items: flex-start;
    color: rgba(79, 169, 230, 0.97);
    position: relative;
    z-index: 1;
  }
  .header-text {
    transform: translateY(-1600px);
    transition: transform 6s ease;
    padding: 0 1rem 1rem;
    z-index: 1;
    color: aliceblue;
    font-style: italic;
    font-size: 1.5rem;
  }
  .header-text.active {
    transform: translateX(0px);
  }

  .page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 35, 37, 0.58);
  }
}
.image-page {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .sec-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 620px;
      border-radius: 20px;
      margin: 5px;
    }
    .img2 {
      width: 700px;
    }
    h2 {
      white-space: nowrap;
      color: black;
      font-style: oblique;
      background-color: rgba(188, 212, 228, 0.973);
      position: absolute;
      top: 50%;
      right: 40%;
      padding: 8px;
      border-radius: 20px;
    }
  }
}

.expirence-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 5px 20px;
  .skills-h1 {
    margin: auto;
    width: 30%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
    font-style: oblique;
    white-space: nowrap;
  }
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 2fr);
  gap: 2rem;
  margin: auto;
  padding: 5px 15px;
  .sec-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    border: rgba(188, 212, 228, 0.973) solid 1px;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.8);
    transition: scale ease-in;
    h3 {
      white-space: nowrap;
      text-align: center;
      border-radius: 10px;
      font-size: 1.5rem;
      font-weight: bolder;
      font-style: italic;
      color: rgba(24, 133, 206, 0.97);
      padding: 5px 10px;
      margin: 0 1rem 0;
    }
    &:hover {
      scale: calc(1.02);
    }
  }
  .sec-content p {
    padding: 10px;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;
  }
}
.about {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 20px;
  .about-h1 {
    margin: auto;
    width: 30%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-style: oblique;
    white-space: nowrap;
    padding: 2px 5px;
  }
  .portfolio-about-content,
  .mission {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    &:hover {
      scale: calc(1.02);
    }
  }
  p {
    max-width: 1000px;
    padding: 20px;
    font-size: 1.5rem;
    font-style: italic;
  }
  .portfolio-btn {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgba(188, 212, 228, 0.973);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    button {
      background-color: transparent;
    }
  }
  .portfolio-btn:hover {
    background: #ffff;
    color: #278adb;
  }
  .portfolio-btn:focus {
    outline: none;
  }
}

/* carousel css */

.carousel {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.carousel-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimony {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 1rem;
  border: 1px rgba(24, 133, 206, 0.97) solid;
}
.testimony p {
  padding: 1rem;
  margin: 1rem;
  max-width: 500px;
  text-align: center;
}
.testimony-image {
  text-align: center;
}
.testimony-image img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

/* footer css */
.portfolio-contact {
  font: sans-serif;
  text-align: center;
  padding: 2rem;
  width: 100%;
  h1 {
    padding: 0.5rem;
    font-family: "Times New Roman", Times, serif;
  }
  form {
    margin: auto;
    background-color: rgba(188, 212, 228, 0.973);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    div {
      margin: 10px;
    }
  }
  a {
    color: black;
  }
  .contact .mail {
    font-size: 1.4rem;
  }
  .contact .number {
    font-size: 1.5rem;
  }
  .contact a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  .contact-form {
    max-width: 300px;
    margin: auto;
    padding: 10px;
  }
  .contact-form div {
    text-align: center;
  }
  form div {
    width: 200px;
    display: block;
    margin: 10px;
    text-align: left;
  }
  form input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px 10;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  }
  form textarea {
    width: 200px;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
  }
  .send-btn {
    background-color: rgba(255, 255, 255, 0.973);
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    padding: 5px;
    width: 100px;
  }
  .send-btn:hover {
    border: 1px #278adb solid;
    background-color: blue;
    color: #ffffff;
  }
  form input:focus,
  form textarea:focus,
  .send-btn:focus {
    outline: none;
  }
  .copyright {
    padding: 1rem;
  }
}
