li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
.background {
  background: #ffff;
  padding: 10px;
}
.background.active {
  background-color: #271b1b;
  background-color: rgba(25, 21, 29, 0.8);
  color: white;
}
.resume-view {
  height: 90vh;
  width: 100vw;
  position: relative;
  background: url("/public/pexels-veeterzy-303383.jpg") no-repeat center
    center/cover;

  .introduction {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    h1 {
      font-style: oblique;
    }
    h2 {
      background-color: rgb(255, 255, 255);
      color: black;
      border-radius: 10px;
      font-size: 12px;
      padding: 10px;
      margin: 10px;
      box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .profile-pic img {
    width: 200px;
    border-radius: 20px;
  }

  .qoute {
    position: absolute;
    bottom: 10%;
    left: 15px;
    font-style: italic;
    line-height: 1.2rem;
    width: 500px;
    color: #ffff;

    .qoute,
    .highlight {
      white-space: nowrap;
      padding: 0 0 10px;
      width: 200px;
      color: rgba(24, 133, 206, 0.97);
    }
  }
  .resume-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 35, 37, 0.58);
  }
}

.resume-about-content {
  padding: 5px 0;
  display: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.8);
  border: solid 1px rgba(188, 212, 228, 0.973);
}

.resume-btn:hover {
  background-color: #ffff;
  color: goldenrod;
}
.career-summary {
  display: grid;
  grid-template-columns: repeat(auto-fill, 2fr);
  max-width: 1000px;
  margin: auto;
  padding: 0 0 2rem;
}
.career-info {
  margin: auto;
  padding: 2rem;
  font-size: 1.1rem;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.8);
  border: solid 1px rgba(188, 212, 228, 0.973);
  border-radius: 20px;
  margin: 1rem;
  h2 {
    font-family: "Courier New", Courier, monospace;
    font-style: oblique;
  }
}
.career-flex {
  display: flex;
}
.career-wrap h1 {
  font-size: 2rem;
  font-style: oblique;
}
.career-wrap .line {
  background-color: rgba(115, 158, 187, 0.973);
  margin-top: 5px;
  border-radius: 20px;
  padding: 0.2px;
  height: 2px;
  width: 150px;
}
.career-wrap .theme i {
  border: 2px solid rgba(188, 212, 228, 0.973);
  margin: 5px;
  border-radius: 50%;
}
.theme.active .mode1 {
  display: block;
}
.theme .mode1 {
  display: none;
}
.theme.active .mode2 {
  display: none;
}
.theme .mode2 {
  display: block;
}
.career-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}
.profession li {
  list-style: none;
}
.profession {
  box-shadow: 2px 3px rgba(0, 0, 0, 0.8);
  border: solid 1px rgba(188, 212, 228, 0.973);
  border-radius: 20px;
  font-family: "Unna", serif;
  font-style: normal;
  max-width: 1000px;
  margin: auto;
  padding: 3rem;
}
.profession h1 {
  font-family: "Unna", serif;
  font-style: oblique;
}
.profession-wrap {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-left: 3rem;
}
.profession-wrap,
.seperate {
  margin: 1rem;
  ul,
  li {
    margin: 10px;
  }
}
.profession .headings {
  line-height: 2px;
  h1 {
    white-space: nowrap;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  font-family: "Unna", serif;
  font-style: normal;
}
.contact-info {
  background: url("/public/pexels-olly-842548.jpg") no-repeat center
    center/cover !important;
  width: 800px;
  color: #ffff;
  border-radius: 30px;
  padding: 2rem;
  div {
    white-space: nowrap;
  }
}
.contact-info h1 {
  color: #ffff;
}
.contact form input {
  position: relative;
  margin: 1.5rem;
  padding: 0.2rem;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

.contact form textarea {
  height: 100px;
  width: 35%;
  border-radius: 20px;
  text-align: center;
}
form input:focus,
form textarea:focus {
  outline: none;
}
button.Btn {
  background-color: rgba(24, 133, 206, 0.97);
  color: #ffff;
  border: 2px solid rgba(24, 133, 206, 0.97);
  padding: 0.5rem;
  max-width: 15%;
  border-radius: 10px;
}

.footer {
  text-align: center;
  color: #ffff;
  background-color: rgba(24, 133, 206, 0.97);
  padding: 5px 10px;
  border-radius: 10px;
}
